html{
    background-image:url("\\images\\dotcomBackground.png");
}
body{
    max-width:800px;
    margin:auto;
    background-color:white;
    border:2px solid black;
    border-top: none;
}
.expand:not(:checked) ~ .collapse{
    display:none;
}
.mobonly{
    display:none;
}
.hidden{
    display:none;
}
header img{
    vertical-align:top;
	width:2rem;
    height:2rem;
    margin:1rem;
}
header *{
    display:inline-block;
    vertical-align:middle;
}
nav {
    display:block;
    margin:0 5px;
    padding:5px 15px;
    border:2px solid blue;
    padding-top:2px;
    border-top-width:8px;
}
footer{
    border:2px solid blue;
    border-top-width:8px;
    margin-bottom:10px
}

nav *~*{
    padding-left:15px;
    margin-left:15px;
    border-left:1px solid blue;
}
div.content{
    padding:0 15px;
}
p{
    margin-top:0;
    margin-bottom:10px
}
footer *{
    margin:0;
}
article > article{
    margin-left:30px;
}
.expand:not(:checked):after{
    content:'expand▼';
    padding-left:15px
}
.expand:checked:after{
    content:'hide▲';
    padding-left:15px
}
.third{
    width:20%;
}
figure.third img{
    width:80%
}
span > *{
    display:inline-block;
}