body{
	font-family: "trebuchet MS", "helvetica neue", helvetica, arial, sans-serif;
	background-color:lightgrey;
	width:100vmax;
    min-height:100vh;
}

header{
	background-color:white;
	color: blue;
	position:static;
	font-size: 4vmax;
	padding: 1vmax;
	width:98vmax;
	box-shadow: 0px 4px 3px #606060;
}
	header img{
		vertical-align:top;
		width:1em;
	}
nav{
	background-color:white;
	color: blue;
	position:static;
	font-size: 2vmax;
	padding: 1vmax;
	margin:1vmax 0 0 0;
	width:96vmax;
	border-radius:1vmax;
	box-shadow: 2px 2px 7px #303030;
	text-align: center;
}
	nav a{
		padding: 0 8vmax;	
	}
                                            
article{
	background-color:white;
	margin:1vmax;
	padding:1vmax;
	box-shadow: 2px 2px 7px #303030;
}
article.project{
    width:48vmax;
    min-height:128px;
    margin-left:5vmax;
}
article.project img{
    width:128px;
    float:left;
}
footer{
    background-color: black;
    color : white;
    padding: 2vmax;
    bottom: 0;
    left: 0;
    position: relative;
    width: 96vmax;
}

span *{
    display: inline-block;
}
article h1{
    font-size:2em;
    font-weight:bold;
}
article h2{
    font-size:1.3em;
    font-weight:bold;
}
p{
    margin:0.3em 0;
}
p.quote{
    padding:0.6em 4em;
    font-style:italic;
}
a{
	text-decoration: none;
	color:blue;
	border:0.1em;
	border-radius:0.5em;
	border-style:solid;
	border-color:#0000;
	transition: border 0.15s;
}
a:hover{
	color:darkblue;
	background-color:#DDF;
	border-style:solid;
	border-color:darkblue;
}
a:active{
	background-color:#EEF;
	border-style:solid;
	border-color:lightblue;
}
ul *{
    margin-left:1em;
}
.third{
    width:30%;
    text-align:center;
}
.shadowed:hover{
    border-radius:100%;
    box-shadow: 1px 1px 20px #303030;
}
.shadowed:active{
    border-radius:100%;
    box-shadow: inset 1px 1px 20px #303030;
}