body{
	font-family: "trebuchet MS", "helvetica neue", helvetica, arial, sans-serif;
	background-color:lightgrey;
	width:100vmax;
}
div.antifooter{
    min-height:90.5vh;
}

header{
	background-color:white;
	color: blue;
    font-size: 4vmax;
	position:static;
	padding: 1vmax;
	width:98vmax;
	box-shadow: 0px 4px 3px #606060;
}

	header img{
		vertical-align:top;
		width:1em;
        border-radius:0;
	}
    header p{
        font-size:1vmax;
    }
nav{
	background-color:white;
	color: blue;
	position:static;
	font-size: 2vmax;
	padding: 1vmax;
	margin:1vmax 0 0 0;
	width:96vmax;
	border-radius:5vmax;
	box-shadow: 2px 2px 7px #303030;
	text-align: center;
}
	nav a{
		padding: 0 8vmax;	
        /*box-shadow: 2px 2px 7px #303030;*/
	}
                                            
article{
	background-color:white;
	margin:1vmax;
	padding:1vmax;
	box-shadow: 2px 2px 7px #303030;
}
article.tool{
    width:48vmax;
    margin-left:5vmax;
}
article.project{
    width:48vmax;
    min-height:128px;
    margin-left:5vmax;
}
article.project img{
    width:128px;
    float:left;
}
footer{
    background-color: black;
    color : #404040;
    padding: 2vh 2vmax;
    left: 0;
    width: 96vmax;
    box-shadow: 0px -3px 7px #606060;
}
footer:hover{
    color:lightgray;
}
span > *{
    display: inline-block;
}

article h1{
    font-size:2em;
    font-weight:bold;
}
article h2{
    font-size:1.3em;
    font-weight:bold;
}
.br{
    font-size:0.2em;
}
.br::after{
        color:transparent;
        content:"lorem ipsum";
}
p{
    margin:0.3em 0;
    font-family:"helvetica";
}
p.quote{
    padding:0.6em 4em;
    font-style:italic;
}
a{
	text-decoration: none;
	color:blue;
	border:0.1em;
	border-radius:0.5em;
	border-style:solid;
	border-color:#0000;
	transition: border 0.15s;
}
a:hover{
	color:darkblue;
	background-color:#DDF;
	border-style:solid;
	border-color:darkblue;
}
a:active{
	background-color:#EEF;
	border-style:solid;
	border-color:lightblue;
}
ul *{
    margin-left:1em;
}
header span.headround{
    float:right;
    max-height:4vmax;
    margin-right:3vmax;
}
span.headround{
    border-radius:1.5vmax;
    padding:0.3vmax 1vmax;
}
span.code {
    background-color:grey;
    box-shadow: inset 0px 0px 20px #202020;
}
span.code *{
    font-family:monospace;
    color:white;
    vertical-align:top;
}
form.contact textarea{
    min-width:96vmax;
    max-width:96vmax;
    min-height:20vmax;
    font-size:1.5em;
}
.third{
    width:15vmax;
    margin:0 8vmax;
}
.shaded{
    background-color:#F9F9FB;
}
.centered{
    text-align:center;
}
.shadowed{
    border-radius:100%;
}
.shadowed:hover{
    box-shadow: 1px 1px 20px #303030;
}
.shadowed:active{
    box-shadow: inset 1px 1px 50px #303030;
}