html{
    font-size:20px;
}
body{
    font-size:inherit;
    width:100%;
}
div.content{
    max-width:100%;
    min-width:0px;
}
header{
    padding:0 5%;
	width:90%;
    min-width:0;
    max-width:none;
}
header>h1{
    display:none;
}
header input{
    position:relative;
    margin-left:auto;
}

header input:not(:checked)~nav{
    display:none;
}
nav{
    background-color:white;
    border-color:#d7d7d7;
    border-width:2px;
    border-style:solid;
    border-top-style:none;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    position:absolute;
    left:5%;
    top:50px;
    margin-right:0;
    max-width:90%;
    min-width:90%;
}
nav>a{
    display:block;
    width:100%;
}
article.tool{
    width:initial;
    margin:8px 25px;
}
article article.tool{
    margin:8px 10px;
}
article.blog, article.project{
    text-align:left;
    width:initial;
    margin-left:auto;
    margin-right:auto;
}
article.stick {
    display:none;
}
span textarea.centered{
    min-width:96%;
    max-width:96%;
}
span.checkboxes{
    text-align:left;
}
span.checkboxes label~label{
    margin-left:0;
}
article figure figcaption{
    display:none;
}
.nav{
    animation-duration:0.5s;
    display:inline-block;
    font-size:1.6rem;
    border-radius:7px;
    -webkit-appearance:none;
    background-color:white;
    width:1.8rem;
    height:1.8rem;
    outline:0;
    vertical-align:middle;
}
.nav:hover{
    background-color:whitesmoke;
}
.nav:active{
    background-color:grey;
}
.nav:not(:checked){
    line-height:1.7rem;
}
.nav:checked{
    line-height:1.7rem;
}
.nav:not(:checked):before{
    content:'☰';
    padding-left:4px;
}
.nav:checked:after{
    content:'X';
    padding-left:9px;
}
p.quote{
    padding:0.6em 1em;
}
ul *{
    margin-left:0.1rem;
}
form.contact textarea{
    font-size:1rem;
}
.third{
    width:30%;
}
figure.third img{
    width:80%
}
button.centered{
    width:50%;
    height:2rem;
}
.mobonly{
    display:initial;
}