<%=erb :header%>
		<article>
			<h1>About the site</h1>
			<p>This site is designed to be a catch-all for everything I might want to have hosted on the internet.</p>
            <p>It is very much in development at this moment in time. It is hosted on heroku right now because I don't have internet access that allows me to set up a web server. Hopefully this will change in the coming year, but until then, you can find it here.</p>
            
		</article>
		<article class="shaded">
			<h1>About the creator</h1>

            <span class="centered">
                <figure>
                    <img class="third shadowed" src="/images/mcocod.png"/>
                    <figcaption>Computer Scientist</figcaption>
                </figure>
                <figure>
                    <img class="third shadowed" src="/images/mcotra.png"/>
                    <figcaption>Trans Activist</figcaption>
                </figure>
                <figure>
                    <img class="third shadowed" src="/images/mcoass.png"/>
                    <figcaption>Inclusion Officer</figcaption>
                </figure>
            </span>
            <br/>
            <br/>
            <p>Hi! I'm Marcy!</p>
            <p>I'm a student studying BSc Computer Science at the University of Sheffield.</p>
            <p>I'm nonbinary and my pronouns are "They/Them".</p>
            <br/>
            <p>Here's a few links to tie my online footprint together:</p>
            <br/>
            <ul>
                <p><a href="https://www.linkedin.com/in/marcy-brook-9a410017a/">LinkedIn</a></p>
                <p><a href="https://github.com/SpruceMarcy">Github</a></p>
                <p><a href="https://www.reddit.com/user/additionalthinking">Reddit</a></p>
            </ul>
            
		</article>

<%=erb :footer%>