<%=erb :header%>
		<article>
			<h1>About the site</h1>
			<p>This site is designed to be a catch-all for everything I might want to have hosted on the internet.</p>
            <p>It is very much in development at this moment in time. It is hosted on heroku right now because I don't have internet access that allows me to set up a web server. Hopefully this will change in the coming year, but until then, you can find it here.</p>
            
		</article>
		<article>
			<h1>About the creator</h1>
			<p>Hi! I'm Marcy!</p>
            <p>I'm a Computer Science student at the University of Sheffield by day, and Trans rights activist <span title="Yes, it's a real word. I made it up. I'm also an anarchist linguist.">elsewhen</span>.</p>
            <p>I'm nonbinary, and my pronouns are "They/Them"</p>
            <br/>
            <span class="centered">
                <img class="third shadowed" src="/images/mcocod.png"/>
                <img class="third shadowed" src="/images/mcotra.png"/>
                <img class="third shadowed" src="/images/mcoass.png"/>
            </span>
            <br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <p>Here's a few links to tie my online footprint together:</p>
            <ul>
                <p><a href="https://www.linkedin.com/in/marcus-brook-9a410017a/">Linked In</a></p>
            </ul>
            
		</article>

<%=erb :footer%>