<%@pagetitle="About MxMBrook.co.uk"%>
<%@pagedesc="MxMBrook.co.uk is the personal website of Marcy Brook, a Computer Science student at the University of Sheffield. This site contains a range of tools and projects, as well as a blog."%>
<%=erb :header%>
		<article>
			<h1>About the site</h1>
			<p>This site is designed to be a catch-all for everything I might want to have hosted on the internet, from fun web-based widgets to official information.</p>
            <p class="adj">The Blog on this site is where I write about topics that I want to explore in-depth so that I can cite those entries in the future.</p>
            <p>The whole thing is still in development, so please be patient. If you have feedback, or want to contact me for any other reason, visit <a href="/contact">this contact page</a>.</p>
            <p>If you want to explore the content on this site, start by clicking on one of the links in the navbar above!</p>
		</article>
		<article>
			<h1>About the creator</h1>
            <span class="centered">
                <figure class="third">
                    <img class="transparent fullradius" src="/images/mcocod.png" alt="Stock image representing computer science in the shape of this site's logo."/>
                    <figcaption>Computer Scientist</figcaption>
                </figure>
                <figure class="third">
                    <img class="transparent fullradius" src="/images/mcotra.png" alt="Transgender flag in the shape of this site's logo."/>
                    <figcaption>Trans Activist</figcaption>
                </figure>
                <figure class="third">
                    <img class="transparent fullradius" src="/images/mcoass.png" alt="Sheffield Assassins Guild logo in the shape of this site's logo."/>
                    <figcaption>Inclusion Officer</figcaption>
                </figure>
            </span>
            <br/>
            <br/>
            <p>Hi! I'm Marcy!</p>
            <p>I'm a student currently studying BSc Computer Science at the University of Sheffield.</p>
            <p class="adj">I am nonbinary and my pronouns are "They/Them".</p>
            <p>Here's a few links to tie my online footprint together:</p>
            <ul>
                <p><a href="https://www.linkedin.com/in/marcy-brook-9a410017a/">LinkedIn</a></p>
                <p class="adj"><a href="https://github.com/SpruceMarcy">Github</a></p>
                <p class="adj"><a href="https://www.reddit.com/user/additionalthinking">Reddit</a></p>
            </ul>
            
		</article>

<%=erb :footer%>