<%@pagetitle="About"%>
<%=erb :header%>
		<article>
			<h1>About the site</h1>
			<p>This site is designed to be a catch-all for everything I might want to have hosted on the internet, from fun web-based widgets to official information.</p>
            <p class="br"/>
            <p>It's still in development, so please be patient. If you have feedback, or want to contact me for any other reason, visit <a href="/contact">this contact page</a>.</p>
            <p class="br"/>
            <p>If you want to explore the content on this site, click on one of the links in the navbar above!</p>
            
		</article>
		<article class="shaded">
			<h1>About the creator</h1>

            <span class="centered">
                <figure>
                    <img class="third shadowed" src="/images/mcocod.png"/>
                    <figcaption>Computer Scientist</figcaption>
                </figure>
                <figure>
                    <img class="third shadowed" src="/images/mcotra.png"/>
                    <figcaption>Trans Activist</figcaption>
                </figure>
                <figure>
                    <img class="third shadowed" src="/images/mcoass.png"/>
                    <figcaption>Inclusion Officer</figcaption>
                </figure>
            </span>
            <br/>
            <br/>
            <p>Hi! I'm Marcy!</p>
            <p class="br"/>
            <p>I'm a student currently studying BSc Computer Science at the University of Sheffield.</p>
            <p>I am nonbinary and my pronouns are "They/Them".</p>
            <p class="br"/>
            <p>Here's a few links to tie my online footprint together:</p>
            <p class="br"/>
            <ul>
                <p><a href="https://www.linkedin.com/in/marcy-brook-9a410017a/">LinkedIn</a></p>
                <p><a href="https://github.com/SpruceMarcy">Github</a></p>
                <p><a href="https://www.reddit.com/user/additionalthinking">Reddit</a></p>
            </ul>
            
		</article>

<%=erb :footer%>