<%@pagetitle="Admin Page"%>
<%@pagedesc="You should not be able to see this. For Admin use only."%>
<%=erb :header%>
		<article>
			<h1>For Admin use only</h1>
		</article>
        <article class="tool">
            <h2>Todo List</h2>
            <p>This page is for keeping track of things you need to do.</p>
            <p><a href="/admin/todo">Todo List</a></p>
        </article>
<%=erb :footer%>