<%@pagetitle="Contact"%>
<%=erb :header%>
		<article>
			<h1>Contact Me</h1>
            <br/>
			<form method="post" class="contact">
                <textarea type="text" name="message" placeholder="Enter your message here, then press submit. If you want me to respond, please provide some contact information." required></textarea>
                <input type="submit"/>
            </form>
		</article>
<%=erb :footer%>