<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0, maximum-scale=10, minimum-scale=0">
		<title>Marceline Brook — Curriculum vitae</title>
        <meta name="description" content="Admin Page only">
		<link rel="stylesheet" href="/style/reset.css">
		<link rel="icon" href="/images/mco.png">
	</head>
	<body>
        <style>
            html{
                font-family:"Roboto";
                font-size:16px;
            }
            header{
                margin-top:2rem;
                text-align:center;
            }
            h1{
                font-size:2rem;
            }
            em{
                font-weight:bold;
                font-size:1.5rem;
            }
            strong{
                font-weight:bold;
                font-size:1.2rem;
            }
            header td *{
                vertical-align:middle;
            }
            span *{
                display:inline-block;
            }
            .tableborder{
                background-image: linear-gradient(10deg, purple, blue);
                border-radius:15px;
                padding:7.5px;
                width:80%;
                margin:auto;
                margin-top:1rem;
            }
            header table{
                border-radius:7.5px;
                background:white;
                width:100%;
            }
            header td{
                vertical-align:middle;
                text-align:center;
            }
            header tr{
                vertical-align:middle;
                width:100%;
                height:2rem;
            }
            article{
                width:80%;
                margin:auto;
            }
            h2{
                font-size:1.75rem;
                margin:1rem;
            }
            div.timeline>div *{
                vertical-align:top;
            }
            div.timeline>div:nth-child(2n){
                padding:1rem;
            }
            div.timeline>div:nth-child(2n-1) *{
                display:inline-block;
            }
            div.timeline>div:nth-child(2n-1){
                display:inline-block;
                text-align:right;
                padding:0;
            }
            /*table.timeline td:nth-child(1) p::after{
                background:linear-gradient(60deg,red 63%, transparent 63%) 50% 50% / 8em 8em;
            }*/
            div.timeline>div:nth-child(2n-1)::after{
                display:inline-block ;
                width:1rem;
                height:1rem;
                content:"";
                background:radial-gradient(circle,purple, purple 49%, transparent 52%, transparent);
            }
            div.line{
                position:relative;
                right:-0.66rem;
                top:0.5rem;
                width:0.32rem;
                height:100%;
                background:linear-gradient(purple, purple);
            }
            div.fade{
                background:linear-gradient(purple, transparent);
            }
            ul{
                margin-top:0.1rem;
                line-height:1.1rem;
                margin-left:1.1rem;
                list-style-type:disc;
            }
            p~*{
              margin-top:3px;
            }
        </style>
		<header>
            <h1>Marceline Brook — Curriculum Vitae</h1>
            <div class="tableborder">
                <table>
                    <tbody>
                        <tr>
                            <td><span><em>✆</em>  <p> 07450722210</p></span></td>
                            <td><span><em>✉</em>  <p> mdr.brook@gmail.com</p></span></td>
                            <td><span><em style="font-size:1.4em">🌐&#xFE0E;</em>  <p> mxmbrook.co.uk</p></span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span><em>🏠&#xFE0E;</em>  <p>Flat 3 Montgomery Place, 33 Montgomery Terrace Road, Sheffield, S6 3BW</p></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</header>
        <article>
            <h2>Education</h2>
            <div style="display:grid; grid-template-columns:20% 60%" class="timeline">
                <div><p>Present</p><div class="line"></div></div>
                <div>
                    <p><strong>2018-Present: BSc Computer Science, University of Sheffield</strong></p>
                    <p>Presently in 2nd year of study. Expected 1st.</p>
                    <p>Foremost first year modules:</p>
                    <ul>
                        <li>Web and Internet Technology</li>
                        <li>Algorithms and Data Structures</li>
                        <li>Java Programming</li>
                    </ul>
                    <p>Expected to graduate in 2022.</p>
                </div>
                <div><p>2018</p><div class="line"></div></div>
                <div>
                    <p><strong>2016-2018: St Aidan's Sixth Form</strong></p>
                    <p>Achieved:</p>
                    <ul>
                        <li>Computer Science A-Level: A</li>
                        <li>Mathematics A-level: A</li>
                        <li>Mathematics As-Level: A</li>
                        <li>Chemistry A-Level: A</li>
                        <li>Biology A-Level: B</li>
                    </ul>
                </div>
                <div><p>2016</p><div class="line fade"></div></div>
                <div>
                    <p><strong>2011-2016: Rossett School</strong></p>
                    <p>Achieved 11 GCSEs, including:</p>
                    <ul>
                        <li>Mathematics: A*</li>
                        <li>Further Mathematics: A*</li>
                        <li>Computing: A</li>
                    </ul>
                </div>
                
            </div>
            <h2>Experience</h2>
            <p><strong>Volunteer Work</strong></p>
            <p>St. Micheal's Hospice</p>
            <p>Nomination for award</p>
            <p>Oxfam</p>
            <br/>
            <h2>Individual Projects</h2>
            <p><strong>mxmbrook.co.uk</strong></p>
            <br/>
            <h2>Interests</h2>
            <p>Computing</p>
            <p>Cycling</p>
            <p>Photography</p>
            <br/>
            <h2>Skills</h2>
            <p><strong>Web Development</strong></p>
            <p>HTML5, CSS3, Javascript, Ruby on Rails, eRuby, using HTTP-based APIs, REST, SVGs, JSON, XML</p>
            <p><strong>Conventional Programming</strong></p>
            <p>Object-Oriented Programming: Java, C#, C++, Python, Ruby, Javascript, Visual Basic</p>
            <p>Functional Programming: Haskell</p>
            <p>Procedural Programming: BASIC</p>
            <p>SQL: PostgreSQL, SQLite3, MySQL</p>
            <p><strong>Other Skills</strong></p>
            <p>Git, Heroku, Linux (Ubuntu), MonoGame, Unity, Agile Development e.g. Scrum, Microsoft Office</p>
        </article>
        <footer>
		</footer>
	</body>
</html>