<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0, maximum-scale=10, minimum-scale=0">
		<title>Marceline Brook — Curriculum vitae</title>
        <meta name="description" content="Admin Page only">
		<link rel="stylesheet" href="/style/reset.css">
		<link rel="icon" href="/images/mco.png">
	</head>
	<body>
        <style>
            html{
                font-family:"Roboto";
                font-size:13px;
            }
            header{
                text-align:center;
            }
            h1{
                font-size:2rem;
            }
            em{
                font-weight:bold;
                font-size:1.5rem;
            }
            strong{
                font-weight:bold;
                font-size:1.2rem;
            }
            header td *{
                vertical-align:middle;
            }
            span *{
                display:inline-block;
            }
            .tableborder{
                background-image: linear-gradient(10deg, purple, blue);
                border-radius:15px;
                padding:7.5px;
                width:96%;
                margin:auto;
                margin-top:2rem;
            }
            header table{
                border-radius:7.5px;
                background:white;
                width:100%;
            }
            header td{
                vertical-align:middle;
                text-align:center;
            }
            header tr{
                vertical-align:middle;
                width:100%;
                height:2rem;
            }
            article{
                width:98%;
                margin:auto;
            }
            h2{
                font-size:1.75rem;
                margin:1rem;
                margin-top:0.8rem;
            }
            div.timeline>div *{
                vertical-align:top;
            }
            div.timeline>div:nth-child(2n){
                padding:1rem;
            }
            div.timeline>div:nth-child(2n-1) *{
                display:inline-block;
            }
            div.timeline>div:nth-child(2n-1){
                display:inline-block;
                text-align:right;
                padding:0;
            }
            /*table.timeline td:nth-child(1) p::after{
                background:linear-gradient(60deg,red 63%, transparent 63%) 50% 50% / 8em 8em;
            }*/
            div.timeline>div:nth-child(2n-1)::after{
                display:inline-block ;
                width:1rem;
                height:1rem;
                content:"";
                background:radial-gradient(circle,purple, purple 49%, transparent 52%, transparent);
            }
            div.line{
                position:relative;
                right:-0.66rem;
                top:0.5rem;
                width:0.32rem;
                height:100%;
                background:linear-gradient(purple, purple);
            }
            div.fade{
                background:linear-gradient(purple, transparent);
            }
            ul{
                margin-top:0.1rem;
                line-height:1.1rem;
                margin-left:1.1rem;
                list-style-type:disc;
            }
            ul.spaced li ~ li{
                margin-top:0.4rem;
            }
            p~*{
              margin-top:3px;
            }
            div.indent{
                width:90%;
                margin:auto;
            }
        </style>
		<header>
            <h1>Marceline Brook — Curriculum Vitae</h1>
            <div class="tableborder">
                <table>
                    <tbody>
                        <tr>
                            <td><span><em>✆</em>  <p> 07450722210</p></span></td>
                            <td><span><em>✉</em>  <p> mbrook1@sheffield.ac.uk</p></span></td>
                            <td><span><em style="font-size:1.4em">🌐&#xFE0E;</em>  <p> mxmbrook.co.uk</p></span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span><em>🏠&#xFE0E;</em>  <p>Flat 3 Montgomery Place, 33 Montgomery Terrace Road, Sheffield, S6 3BW</p></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</header>
        <br/>
        <article>
            <div class="indent">
                <p>A second year Computer Science undergraduate with experience in a wide range of computing concepts, particularly with web technology and object-oriented programming. Through a mix of volunteer work and programming projects, I also have extensive practice working in a team as both a leader and a member.</p>
            </div>
        </article>
        <article>
            <h2>Education</h2>
            <div style="display:grid; grid-template-columns:10% 90%" class="timeline">
                <div><p>Present</p><div class="line"></div></div>
                <div>
                    <p><strong>2018-Present: BSc Computer Science, University of Sheffield</strong></p>
                    <p>Presently in 2nd year of study. Expected 1st.</p>
                    <p>Foremost first year modules:</p>
                    <ul class="spaced">
                        <li>
                            <p>Web and Internet Technology:</p>
                            <p>Covered the basic principles of networks and internetworking, information security, and the technologies that are used in Web development, with an emphasis on building interactive and responsive websites using HTML, CSS, and JavaScript.</p>
                        </li>
                        <li>
                            <p>Algorithms and Data Structures:</p>
                            <p>Taught the design and analysis of efficient algorithms and data structures, including methods of quantifying efficiency and techniques for designing efficient algorithms. This included fundamental problems, such as: searching, sorting, graph algorithms, and combinatorial problems, i.e. finding shortest paths in networks.</p>
                        </li>
                        <li>
                            <p>Java Programming:</p>
                            <p>Focused on the object-oriented approach to building large software systems. Throughout the module, emphasis was placed on the practice of writing well-structured and readable programs in Java to solve problems.</p>
                        </li>
                    </ul>
                    <p>Expected to graduate in 2022.</p>
                </div>
                <div><p>2018</p><div class="line"></div></div>
                <div>
                    <p><strong>2016-2018: St Aidan's Sixth Form</strong></p>
                    <p>Achieved:</p>
                    <ul>
                        <li>A-Levels: Computer Science (A), Mathematics (A), Chemistry (A), Biology (B)</li>
                        <li>As-Level: Mathematics (A)</li>
                    </ul>
                </div>
                <div><p>2016</p><div class="line fade"></div></div>
                <div>
                    <p><strong>2011-2016: Rossett School</strong></p>
                    <p>Achieved 11 GCSEs including Mathematics (A*), Further Mathematics (A*), & Computing (A)</p>
                </div>
            </div>
            <h2>Relevant Projects</h2>
            <div class="indent">
                <p><strong>March 2019 - Present: mxmbrook.co.uk</strong></p>
                <p>Created a personal website using the Rack-based Ruby framework Sinatra.</p>
                <p>Provided direct experience in many aspects of web development:</p>
                <ul>
                    <li>In the front end, I have written all of the HTML, CSS, and Javascript for the site, particularly taking into account UX principles to do so.</li>
                    <li>In the back end, I have written both a controller (as the site uses an MVC pattern) and multiple non-ruby tools that visitors can use.</li>
                    <li>I hosted the site via a cloud hosting provider, and connected it to a PostgreSQL database for storing content.</li>
                </ul>
                <p>Using this setup rather than a static site, such as those provided by GitHub pages, has given me much more control over the functionality of the site, and as a result has allowed me to heavily experiment with web technology.</p>
                <br/>
            </div>
            <div class="indent">
                <p><strong>November 2019: HackSheffield5 Project</strong></p>
                <p>During a 24-hour hackathon, two other team members and I worked on a Python application designed to determine whether an email was fraudulent.</p>
                <ul>
                    <li>Used Machine Learning models trained on datasets of example phishing and scam emails to make the determination.</li>
                    <li>Learned how to work with IMAP servers and parse .eml files.</li>
                    <li>Designed and implemented a robust web interface using the Python micro web framework Flask.</li>
                    <li>Took on the role of managing the small team in order to complete the project within the limited timeframe and best utilise our individual specialities.</li>
                </ul>
                <br/>
            </div>
            <div class="indent">
                <p><strong>January 2019: Global Engineering Challenge</strong></p>
                <p>Worked with a multidisciplinary team of students over the course of a week to design a practical engineering solution to problems faced by the population of rural India.</p>
                <p>We chose to research potential software solutions to replace rudimentary financial systems used by self-help groups.</p>
                <ul>
                    <li>Communication was key in this challenge. Besides having to coordinate our efforts between researching and creating a report, our solution required perspectives from each of our fields.</li>
                    <li>The challenge heavily featured presentation skills, as we needed to communicate our ideas to other participants and professionals as a team several times.</li>
                </ul>
                <p>At the end of the challenge, we presented a solution that considered feasibility, cost, and a variety of regional limitations to Sheffield University alumni and local industrial engineers to be assessed.</p>
            </div>
            <h2>Experience</h2>
            <div class="indent">
                <p><strong>March 2019 - Present: Sheffield Assassins Society, Inclusion Officer</strong></p>
                <p>I am currently on the committee of a University of Sheffield society. I ensure that inclusion is taken into consideration in all society activities. This involves making students feel welcome, and being the direct contact for students who may face barriers to participation.</p>
                <ul>
                    <li>I regularly communicate with other committee members as part of arranging society events and games, especially as each responsibility is often partially dependant on progress made by other people on the committee.</li>
                    <li>I engage with society members both in and out of events to help find new ways for the society to maximise enjoyment and participation by students.</li>
                </ul>
                <p><strong>Oct 2018 - Jun 2019: Oxfam, Retail Volunteer</strong></p>
                <p>Served customers in an Oxfam bookshop on weekends. I was also responsible for sorting and handling books of all categories and genres.</p>
                <p><strong>Jul 2017 - Sep 2018: St. Michael's Hospice, Retail Volunteer</strong></p>
                <p>Volunteered weekly at a charity retail store.</p>
                <ul>
                    <li>Served and assisted customers with their queries.</li>
                    <li>Sorted donated stock, and managed the displays of the shop.</li>
                    <li>Handled IT issues with a till and the shop's office computer.</li>
                    <li>Implemented an organisation system for the shop's stock of CDs, DVDs, and books based on a pigeonhole sort, which was adopted by the shop's manager.</li>
                    <li>Worked with other volunteers to fairly and effectively distribute the daily workload.</li>
                </ul>
                <p> In October 2017, my work at this shop was Highly Commended under the "Young Volunteer of the Year" category at the Harrogate & District Volunteering Awards, for consistently fulfilling my responsibilities without problems, and assisting in the management of the store to a limited extent.</p>
            </div>
            <h2>Skills</h2>
            <div class="indent">
                <p><strong>Teamworking</strong></p>
                <ul>
                    <li>Part of a team of retail volunteers at St. Michael's Hospice and at Oxfam, wherein I handled customers and donated stock.</li>
                    <li>A member of three different software engineering teams as part of my degree course, all requiring collaboration over Git and a high level of responsibility for sharing the workload. In the largest of these assignments, I worked with 6 other students in an Agile Development environment.</li>
                    <li>On the committee for a student society, requiring regular attendance and timely communication to organise and run events. My specific role as an inclusion officer has also involved briefing and presenting to other members on matters of inclusiveness.</li>
                    <li>During HackSheffield5 I led a small team under a strict time restraint.</li>
                    <li>Gained experience working in a multidisciplinary team as part of the Global Engineering Challenge.</li>
                </ul>
                <p><strong>Customer Interactions</strong></p>
                <ul>
                    <li>Combined 2 years of volunteering in public-facing roles that heavily relied on dealing with customers with a wide range of queries.</li>
                    <li>In a 1st year module for my degree, I had practice in eliciting software requirements from a simulated client as the first stage of an assessed project.</li>
                </ul>
                <p><strong>Analytical Thinking</strong></p>
                <ul>
                    <li>Consistently excelled at mathematics-based subjects and modules, including around computational theory.</li>
                    <li>Personal projects include many complex algorithms implemented from scratch, such as Markov Chains, Levenshtein Distances, Part of speech tagging, and Prim's algorithm.</li>
                    <li>Hobbies include videogames that require real-time strategic thinking.</li>
                </ul>
                <p><strong>Technical Skills</strong></p>
                <ul class="spaced">
                    <li>
                        <p>From education and study, I am proficient in:</p>
                        <p>HTML5, CSS3, Javascript, Ruby on Rails, Rack, Sinatra, eRuby, SQLite3, MySQL, JSON, XML, Java, Python, Ruby, Javascript, Visual Basic, Haskell, Git</p>
                    </li>
                    <li>
                        <p>From personal projects, I have direct experience with:</p>
                        <p>Flask, Jinja2, HTTP-based APIs, REST, SVGs, PostgreSQL, C#, C++, BASIC, Heroku, Linux (Ubuntu), MonoGame, Unity</p>
                    </li>
                </ul>
                <p><strong>Other Skills</strong></p>
                <p>ERT First Aid Qualified, expires in October 2022</p>
            </div>
            <h2>References</h2>
            <div class="indent">
                <p>Available on request</p>
            </div>
        </article>
	</body>
</html>