        <footer>
			<p>This page's content and template was written by Marcy Brook. <a href="/contact">Contact.</a> This site uses authentication cookies, but no tracking cookies.</p>
		</footer>
        </div>
	</body>
</html>