<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MB Main</title>
		<link rel="stylesheet" href="style/reset.css">
		<link rel="stylesheet" href="style/main.css">
		<link rel="icon" href="images/mco.png">
	</head>
	<body>
		<header>
			<span>
				<a href="/"><img src="images/mco.png"/></a>
				<h1>Title Here</h1>
			</span>
			<nav>
				<a href="/">Home</a>
				<a href="/">Tools</a>
				<a href="/">Projects</a>
				<a href="/">About</a>
			</nav>
		</header>
