<%@pagetitle="MxMBrook - Marcy\'s Homepage"%>
<%=erb :header%>
		<article>
			<h1>Welcome!</h1>
			<p>Hi! I'm Marcy, and this is my website.</p>
            <p>For all information, please visit the <a href="/about">about page</a>.</p>
		</article>
        <article>
            <h1>Quick Access</h1>
            <p><a href="/">Home</a></p>
            <p><a href="/tools">Tools</a></p>
            <p><a href="/tools/">└─>Directory</a></p>
            <p><a href="/projects">Projects</a></p>
            <p><a href="/projects/">└─>Directory</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/contact">Contact</a></p>
        </article>
<%=erb :footer%>