<%=erb :header%>
		<article>
			<form action="/auth/azure/callback" method="post">
                <input type="text" name="username"/>
                <input type="password" name="password"/>
                <input type="submit"/>
            </form>
		</article>
<%=erb :footer%>