<%@pagetitle="Image Viewer"%>
<%@pagedesc="Admin Post"%>
<%=erb :header%>
		<article>
			<h1>Image <%=params[:id]%></h1>
            <img src="/photo/<%=params[:id]%>"/>
        </article>
<%=erb :footer%>