<%@pagetitle="Photo Upload"%>
<%@pagedesc="Admin Page"%>
<%=erb :header%>
		<article>
			<h1>Photo Upload</h1>
			<form method="post" action="/admin/photoupload" enctype="multipart/form-data">
                <input type="file" id="fileinput" name="photo"/>
                <input type="submit"  class="shadowed"/>
            </form>
		</article>
<%=erb :footer%>