<%@pagetitle="List of Projects"%>
<%@pagedesc="A collection of downloadable coding projects written or contributed to by Marcy Brook."%>
<%=erb :header%>
		<article>
			<h1>Projects</h1>
            <p>This is an incomplete collection of coding projects that I have developed. All projects have external links for you to download and try them out.</p>
            <p class="adj">Unless otherwise stated, these projects are under the effects of the <a href="https://unlicense.org/">Unlicense</a>.</p>
            <p class="quote">"Information wants to be free" - Stewart Brand, 1984</p>
		</article>
        <article class="project">
            <img src="/images/ChainMail.png" alt="chainmail logo" style="width:100px;height:100px;margin:14px"/>
            <h2>ChainMail</h2>
            <p>This is a webapp that uses Machine Learning to tell if an email is safe, or spam/phishing etc.</p>
            <p class="adj">Competed as part of a 24 hour hackathon: HackSheffield5, in a team with two other people.</p>
            <br/>
            <p class="adj"><a href="https://devpost.com/software/chainmail-50waio">Devpost Submission</a></p>
            <p class="adj"><a href="https://github.com/SpruceMarcy/BrookTagger">Link to Github</a></p>
        </article>
        <article class="project">
            <img src="/images/BrookTagger.png" alt="brooktagger logo"/>
            <h2>BrookTagger</h2>
            <p>This is a simplified Part-of-Speech tagger written in Java. It has an accuracy of 87.5%.</p>
            <p class="adj"><a href="https://github.com/SpruceMarcy/BrookTagger">Link to Github</a></p>
        </article>
        <%if session[:uid]=="SpruceMarcy" or session[:uid]=="TomKeeble" or session[:uid]=="freddyheppell"%>
        <article class="project">
            <img src="/images/github.png" alt="github logo"/>
            <h2>DogBot</h2>
            <p>This is a bot for social media chats (namely, facebook). I contributed to it by adding a module that mirrors the functionality of my <a href="/tools/uwu">UwU Translator</a></p>
            <p class="adj">It is in a private repository, it requires multiple parts, and it is still a work in progress.</p>
            <p class="adj"><a href="https://github.com/TomKeeble/Dogbot3/">Link to Github</a></p>
        </article>
        <%end%>
        <article class="project">
            <img src="/images/github.png"/ alt="github logo">
            <h2>Spruce</h2>
            <p>This is an unfinished game that a team and I worked on over a summer break. It uses very few libraries to allow us to build basic features from scratch.</p>
            <p class="adj">It is not currently in a playable state, but it does demonstrate many coding techniques that have some utility, and changes are occasionally made to this day.</p>
            <p class="adj"><a href="https://github.com/SpruceMarcy/Spruce">Link to Github</a></p>
        </article>
        <article class="project">
            <img src="/images/pastebin.png" alt="pastebin logo"/>
            <h2>I Like Monster Math</h2>
            <p>This project was a bot for the website reddit, which contributed to a site-wide joke from 2017/06/13 to 2017/06/29.</p>
            <p>Whenever someone commented "They did the math" (in reference to an act of math-doing), a bot owned by another user would reply "don't fucking say it". This program would then reply to that comment with "they did the monster math" (in reference to <a href="https://youtu.be/AxcM3nCsglA">this song</a>).</p>
            <p></p>
            <p><a href="https://pastebin.com/TVciTiWC">Link to Pastebin</a></p>
            <p class="adj"><a href="https://www.reddit.com/user/I_Like_Monster_Math/">Link to Reddit account</a></p>
        </article>
<%=erb :footer%>