<%@pagetitle="Projects"%>
<%=erb :header%>
		<article>
			<h1>Projects</h1>
			<p>This is an incomplete collection of coding projects that I have developed. All projects have external links for you to download and try them out.</p>
            <p class="adj">Unless otherwise stated, these projects are under the effects of the <a href="https://unlicense.org/">Unlicense</a>.</p>
            <p class="quote">"Information wants to be free" - Stewart Brand, 1984</p>
            <p><a href="/projects/">Browse Projects ─></a></p>
		</article>
<%=erb :footer%>