<%=erb :header%>
		<article>
			<h1>Projects</h1>
		</article>
        <article class="project">
            <img src="/images/github.png"/>
            <h2>Spruce</h2>
            <p>This is an unfinished game that a team and I worked on over a summer break. It uses very few libraries to allow us to build basic features from scratch.</p>
            <p>It is not currently in a playable state, but it does demonstrate many coding techniques that have some utility, and changes are occasionally made to this day.</p>
            <p><a href="https://github.com/SpruceMarcy/Spruce">Link to Github</a></p>
        </article>
        <article class="project">
            <img src="/images/pastebin.png"/>
            <h2>I Like Monster Math</h2>
            <p>This project was a bot for the website reddit, which contributed to a site-wide joke from 2017/06/13 to 2017/06/29.</p>
            <p>Whenever someone commented "They did the math" (in reference to an act of math-doing), a bot owned by another user would reply "don't fucking say it". This program would then reply to that comment with "they did the monster math" (in reference to <a href="https://youtu.be/AxcM3nCsglA">this song</a>).</p>
            <p></p>
            <p><a href="https://pastebin.com/TVciTiWC">Link to Pastebin</a></p>
            <p><a href="https://www.reddit.com/user/I_Like_Monster_Math/">Link to Reddit account</a></p>
        </article>
<%=erb :footer%>