<%@pagetitle="Settings"%>
<%@pagedesc="Site Experience Settings."%>
<%=erb :header%>
        <%if @isadmin%>
		<article>
			<h1>Admin Settings</h1>
            <h2>Get tester</h2>
			<form method="get" action="#" target="_blank" onsubmit='copyContent()'>
                <p>Get tester</p>
                <p type="text" id="editable_p"contenteditable>content here</p>
                <textarea id="editable_hta" class="hidden" name="editable"></textarea>
                <input type="submit"  class="button"/>
                <script>
                    function copyContent () {
                        document.getElementById("editable_hta").innerHTML=document.getElementById("editable_p").innerHTML;
                    }
                </script>
            </form>
		</article>
        <%end%>
		<article>
			<h1>Session Settings</h1>
			<form method="post" action="/tools/settings/session/debug">
                <p>Debug mode (deprecated)</p>
                <%if session[:debug]%>
                <input type="hidden" name="debug" value="true"/>
                <input type="submit" value="Disable" class="button">
                <%else%>
                <input type="hidden" name="debug" value="false"/>
                <input type="submit" value="Enable" class="button">
                <%end%>
            </form>
            <form method="post" action="/tools/settings/session/dyslexic">
                <p>Use OpenDyslexic font?</p>
                <input type="checkbox" name="dyslexic" value="true" <%if session[:dyslexic]%>checked<%end%>/>
                <input type="submit"  class="button"/>
            </form>
		</article>
		<article>
			<h1>Future-Proofing</h1>
			<form method="post" action="/tools/settings/session/style">
                <p>Thanks to advances in serverside technology, we here at mxmbrook.co.uk have developed multiple CSSs so that science can still be done, even in the event of environmental, social, economic, or structural collapse.</p>
                <p class="adj">If, for some reason, sleek monotone aesthetics with cards and box-shadows do not remain stylish into the future, then please select one of the following styles so that browsing can continue in a modern manner.</p>
                <div>
                    <input type="radio" name="selected" id="cssmain" value="main" <%if @maincss=="main"%>checked<%end%>/>
                    <label for="cssmain">2019</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssdotc" value="dotcom" <%if @maincss=="dotcom"%>checked<%end%>/>
                    <label for="cssdotc">Another dotcom boom</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssgrad" value="gradients" <%if @maincss=="gradients"%>checked<%end%>/>
                    <label for="cssgrad">Please tell me gradients are back</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssmatd" value="matdes" <%if @maincss=="matdes"%>checked<%end%> disabled/>
                    <label for="cssmatd">MatERiAl DeSigN</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssgra2" value="mgradients2" <%if @maincss=="mgradients2"%>checked<%end%>/>
                    <label for="cssgra2">Gradients, but pretentious!</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssunfa" value="munfair" <%if @maincss=="munfair"%>checked<%end%>/>
                    <label for="cssunfa">Unfair Means</label>
                </div>
                <div>
                    <input type="radio" name="selected" id="cssmake" value="molay" <%if @maincss=="molay"%>checked<%end%>/>
                    <label for="cssmake">"I make stuff"</label>
                </div>
                <br/>
                <input type="submit" value="Change Style" class="button"/>
            </form>

		</article>
<%=erb :footer%>