<%@pagetitle="Settings"%>
<%@pagedesc="Site Experience Settings."%>
<%=erb :header%>
        <%if @isadmin%>
		<article>
			<h1>Admin Settings</h1>
            <h2>SMTP Settings</h2>
			<form method="post" action="/tools/settings/admin">
                <p>SMTP Password</p>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit"  class="shadowed"/>
            </form>
            <h2>Get tester</h2>
			<form method="get" action="#" target="_blank" onsubmit='copyContent()'>
                <p>Get tester</p>
                <p type="text" id="editable_p"contenteditable>content here</p>
                <textarea id="editable_hta" class="hidden" name="editable"></textarea>
                <input type="submit"  class="shadowed"/>
                <script>
                    function copyContent () {
                        document.getElementById("editable_hta").innerHTML=document.getElementById("editable_p").innerHTML;
                    }
                </script>
            </form>
		</article>
        <%end%>
		<article>
			<h1>Session Settings</h1>
			<form method="post" action="/tools/settings/session/debug">
                <p>Debug mode enabled?</p>
                <input type="checkbox" name="debug" value="true" <%if session[:debug]%>checked<%end%>/>
                <input type="submit"  class="shadowed"/>
            </form>
            <form method="post" action="/tools/settings/session/dyslexic">
                <p>Dyslexia Support mode enabled?</p>
                <input type="checkbox" name="dyslexic" value="true" <%if session[:dyslexic]%>checked<%end%>/>
                <input type="submit"  class="shadowed"/>
            </form>
		</article>
<%=erb :footer%>