<%@pagetitle="List of Tools"%>
<%=erb :header%>
		<article>
			<h1>Web Tools</h1>
		</article>
        <article class="tool">
            <h2>Server Settings</h2>
            <p>This page will allow you to customise your experience on this site by creating session cookies.</p>
            <p><a href="/tools/settings">Server Settings</a></p>
        </article>
        <article class="tool">
            <h2>Random Word Selector</h2>
            <p>This page will show you a random word.</p>
            <p><a href="/tools/wordrand">Random Word Selector</a></p>
        </article>
<%=erb :footer%>