<%@pagetitle="List of Tools"%>
<%=erb :header%>
		<article>
			<h1>Web Tools</h1>
		</article>
        <article class="tool">
            <h2>Server Settings</h2>
            <p>This page will allow you to customise your experience on this site by creating session cookies.</p>
            <p><a href="/tools/settings">Server Settings</a></p>
        </article>
        <article class="tool">
            <h2>Random Word Selector</h2>
            <p>This page will show you a randomly selected word.</p>
            <p><a href="/tools/wordrand">Random Word Selector</a></p>
        </article>
        <article class="tool">
            <h2>Random Video Finder</h2>
            <p>This will redirect you to an obscure youtube video based on a random word.</p>
            <p><a href="/tools/yourand">Random Video Finder</a></p>
        </article>
        <article class="tool">
            <h2>Random Word Generator</h2>
            <p>This page will show you a randomly generated word.</p>
            <p><a href="/tools/wordgen">Random Word Generator</a></p>
        </article>
<%=erb :footer%>