<%=erb :header%>
		<article>
			<h1>Web Tools</h1>
			<p>The "Tools" found on this site are applications that can be accessed online. Each page will have a form or other interface that will allow you to use them, no download required.</p>
            <p>Unlike Projects, in most cases the source code will not be readily downloadable, and may be integrated into the site itself. You can try searching through the repository for this site if you want to see how something works.</p>
            <p><a href="/tools/">Browse Tools ─></a></p>
		</article>
<%=erb :footer%>