<%@pagetitle="UwU translator"%>
<%=erb :header%>
		<article>
			<h1>UwU Translator</h1>
            <p>Enter text into the top box, then press "Translate" to UwUify it.</p>
            <div class="br"></div>
            <textarea id="input" class="centered"></textarea>
            <div class="br"></div>
            <button id="translate"class="centered">Translate</button>
            <div class="br"></div>
            <textarea id="output"class="centered"></textarea>

            <script src="/javascripts/uwu.js"></script>
		</article>
<%=erb :footer%>