<%@pagetitle="UwU translator"%>
<%@pagedesc="Translate text into UwU speak. Now with faces."%>
<%=erb :header%>
		<article>
			<h1>UwU Translator</h1>
            <p>Enter text into the top box, then press "Translate" to UwUify it.</p>
            <div class="br"></div>
            <textarea id="input" class="centered"></textarea>
            <div class="br"></div>
            <span class="centered" style="display:inline-block">
                <button id="translate" class="centered">Translate</button>
                <button id="translatef" class="centered">Translate (With Faces)</button>
            </span>
            <div class="br"></div>
            <textarea id="output"class="centered"></textarea>

            <script src="/javascripts/uwu.js"></script>
		</article>
<%=erb :footer%>