<%- content_for(:page_title, "Database Interface")%>
<%- content_for(:page_description, "You should not be able to see this. For admin use only.")%>
<article>
  <h1>Database Interface</h1>
  <form method="post">
    <label for="input">Query:</label>
    <input type="text" name="input" id="input" class="adminquery" placeholder="Enter Query Here" required/>
    <input type="submit" class="adminbutton" value="Submit Query"/>
    <a href="/admin" class="adminbutton">Back</a>
    <a href="" class="adminbutton">Reload</a>
  </form>
  <%if !@result.nil?%>
  <%if @result.respond_to? :each%>
  <%@result.each do |res|%>
  <%=html_escape(res)%>
  <%end%>
  <%else%>
  <%=html_escape(@result.to_s)%>
  <%end%>
  <%end%>
  <%@entries.each do |name, entry|%>
  <h2><%=name%></h2>
  <table>
    <%entry.each do |record|%>
    <tr>
      <%record.each do |field|%>
      <td>
        <%=html_escape(field[1])%>
      </td>
      <%end%>
    </tr>
    <%end%>
  </table>
  <%end%>
</article>
