<%- content_for(:page_title, "Admin Page")%>
<%- content_for(:page_description, "You should not be able to see this. For admin use only.")%>
<article>
  <h1>For Admin use only</h1>
</article>
<article class="tool">
   <h2>Todo List</h2>
   <p>This page is for keeping track of things you need to do.</p>
   <p><a href="/admin/todo">Todo List</a></p>
</article>
<article class="tool">
   <h2>Database Interface</h2>
   <p>This page is for interacting with the site database.</p>
   <p><a href="/admin/database">Database Interface</a></p>
</article>
<article class="tool">
  <h2>Photo Upload</h2>
  <p>This page is for uploading pictures.</p>
  <p><a href="/admin/photoupload">Photo Upload</a></p>
</article>
<article class="tool">
  <h2>Photo Viewer</h2>
  <p>This page is for looking at pictures.</p>
  <p><a href="/admin/photoview/4.png">Photo viewer</a></p>
</article>
