<%- content_for(:page_title, "Chat")%>
<%- content_for(:page_description, "Go ahead. Chat.")%>
<article>
  <h1>Chat</h1>
  <p class="adh">Set a nickname (Only A-Z, 0-9, or _):</p>
  <form method="post" action="/tools/chat/nickname">
    <input type="text" name="nickname" placeholder="<%=session[:nickname]%>"/>
    <input type="submit"/>
  </form>
  <%if !@chats.nil?%>
  <br/>
  <p class="adj">Choose a chat room:</p>
  <%@chats.each do |room|%>
  <p class="adj"><a href="/tools/chat/<%=room%>"><%=room%></a></p>
  <%end%>
  <%end%>
  <%if !session[:nickname].nil?%>
  <br/>
  <p class="adh">Create a chat room (Only A-Z, 0-9, or _):</p>
  <form method="post" action="/tools/chat/new">
    <input type="text" name="name" placeholder="Enter chat name here"/>
    <input type="submit"/>
  </form>
  <%end%>
</article>
