<%- content_for(:page_title, "Audio Replayer")%>
<%- content_for(:page_description, "A tool for recording and playing back audio quickly and easily.")%>
<article>
  <h1>Audio Replayer</h1>
  <p/>
  <script src="/javascripts/replayer.js"></script>
</article>
