<%- content_for(:page_title, "Sound Visualiser")%>
<%- content_for(:page_description, "A javascript canvas tool to visualise sound.")%>
<article>
  <h1>Sound Visualiser</h1>
  <p/>
  <canvas id="canvas1" width="512" height="512">
  </canvas>
  <script src="/javascripts/sound.js"></script>
</article>
