<%- content_for(:page_title, "Randomly Selected Word")%>
<%- content_for(:page_description, "Every time you load this page it will show you a random word from the dictionary.")%>
<article>
  <h1>Random Word Selector</h1>
  <p>Every time you refresh this page, it will choose a random word from <a href="https://github.com/dwyl/english-words/blob/master/words_alpha.zip">this list</a>.</p>
  <div class="br"></div>
  <p>Your random word:</p>
  <h2><%=@randword%></h2>
</article>
