<%- content_for(:page_title, "Contact")%>
<%- content_for(:page_description, "Contact me using this simple form.")%>
<article>
  <h1>Contact Me</h1>
  <p><em class="important">Important Notice:</em></p>
  <p class="adj">This form is anonymous. If you wish to receive a direct response of any kind, remember to leave some form of contact information (such as an email address).</p>
  <form id="contactForm" method="post" class="contact">
    <textarea type="text" name="message" placeholder="Enter your message here, then press submit." required></textarea>
    <div class="g-recaptcha" data-sitekey="6Ld-lJsUAAAAAAadCbjpU9pDthxmC3KBwJfZwAUh"></div>
    <input type="submit" class="shadowed" value="Submit"/>
  </form>
  <script>
document.getElementById("contactForm").onsubmit=function(){
  var data=document.createElement("input")
  data.setAttribute("type","hidden")
  data.setAttribute("name","browser")
  var serialData="AppCodeName: "+navigator.appCodeName+" | AppName: "+navigator.appName+" | AppVersion: "+ navigator.appVersion+" | Lang: "+navigator.language+" | Platform: "+navigator.platform+" | UserAgent: "+navigator.userAgent+" | Product: "+navigator.product+" | Referrer: "+document.referrer
  data.setAttribute("value",serialData)
  document.getElementById("contactForm").appendChild(data)
}
  </script>
</article>
