<%- content_for(:page_title, "Make a Blog Post")%>
<%- content_for(:page_description, "You should not be able to see this. For admin use only.")%>
<article>
  <form method="post" class="contact" onsubmit='copyContent()'>
    <input type="text" name="title" placeholder="title" required/>
    <p type="text" id="editable_p" contenteditable>Enter your entry here, then press submit.</p>
    <textarea type="text "id="content" class="hidden" name="content"></textarea>
    <script>
function copyContent () {
  document.getElementById("content").innerHTML=document.getElementById("editable_p").innerHTML;
}
    </script>
    <input type="submit" class="shadowed" value="Submit Blog Post"/>
  </form>
</article>
