<%- content_for(:page_title, "Blog Edit")%>
<%- content_for(:page_description, "You should not be able to see this. For admin use only.")%>
<article>
  <form method="post" class="contact">
    <input type="hidden" name="id" value="<%=@entry["id"]%>" />
    <input type="hidden" name="date" value="<%=@entry["date"]%>" />
    <input type="text" name="title" placeholder="title" value="<%=@entry["title"]%>" required/>
    <textarea type="text" name="content" style="font-size:1rem" placeholder="Enter your new version here, then press submit." required><%=@entry["content"]%></textarea>
    <input type="submit" class="shadowed" value="Submit Edit"/>
  </form>
</article>
